{% extends 'base.html.twig' %}

{% block title 'Pinny list' %}

{% block body %}

<div>
    <h2>{{pluralize(pins|length, 'pin', 'pins')}}</h2>
    {% for pin in pins %}
        <article>
            <a href={{ path('app_pin_detail', {id: pin.id}) }}>{{pin.title}}</a>
            <p>{{pin.description}}</p>
        </article>
    {% endfor %}
</div>
{% endblock %}
