@import "~bootstrap";
@import "variables";

*{
    scrollbar-width: none;
}
body{
    background-color: $bodyBgColor;
    color: $bodyFgColor;
}

.vich-image{
    align-items: center;
    a{
        display: block;
        width: 100%;
        text-align: center;
        img{
            @extend .mb-2, .rounded, .shadow, .img-thumbnail;
        }
    }
}

.detail-container{
    position: relative;
    background-color: rgb(6, 6, 6);
    border: 2px solid white;
    padding: 0;
    margin: 0;
    // @extend .shadow;
    @extend .rounded;
    box-shadow: 0px 0px 8px 2px #3d3d3d;
    img{
        @extend .rounded;
    }
    .card-footer-buttons{
        position: relative;
    }
    .detail-publication-info{
        position: relative;
        font-size: x-small;
        color: rgb(136, 136, 136);
        text-align: right;
        padding-right: 10px;
    }
}

.card-body{
    h4{
        text-align: justify;
        height: 200px; 
        overflow: auto;
    }
}

.card-container{
    box-shadow: 0 0 0 2px white;
    background-color: rgb(7, 7, 7);
    border: 1px solid white;
    .card-image-container{
        overflow: hidden;
        height: 300px;
        img{
            position: relative;
            left: 0;
            top: 0;
            transition-duration: .5s;
            &:hover{
                width: 400px;
                left: -20px;
                top: -20px;
            }
        }
    }
}

.flash-message-container{
    opacity: 0;
    animation-name: flashMessageContainerAnimation;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes flashMessageContainerAnimation {
    0%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    95%{
        opacity: 0;
    }
    100%{
        display: none;
    }
}


@media screen and (max-width: 500px) {
    .card-container{
        .card-image-container{
            min-height: 200px;
            max-height: 400px;
            img{
                position: relative;
                left: 0;
                top: 0;
                transition-duration: .5s;
                &:hover{
                    width: 500px;
                    left: -20px;
                    top: -20px;
                }
            }
        }
    }   
}

@media screen and (min-width: 800px) {
    .detail-container{
        position: relative;
        background-color: rgb(6, 6, 6);
        padding: 0;
        margin: 0;
        // @extend .shadow;
        @extend .rounded;
        img{
            @extend .rounded;
        }
        .card-footer-buttons{
            position: absolute;
            bottom: 20px;
        }
        .detail-publication-info{
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
    }
}